<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="jnGestionEscolar.Properties.Settings.Gestion_EscolarConnectionString"
            connectionString="Data Source=R4MZZX\JEIMYN;Initial Catalog=Gestion_Escolar;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>